---
layout: base.njk
---

<div class="flex">
    <div class="title centre">
        <img src="/assets/headshot-512.webp" height="320px" width="320px" class="profile" alt="Headshot">
        <h1>Jason Cook</h1>
        <h2>Tech Consultant</h2>
    </div>
    <p>From small one person shops to large business, Jason works closely with his clients to ensure each gets a product tailored to their needs and budget. His services include email setup, computer and networking setup & maintenance, live audio & video systems and much more. If you'd like to work with me or have any questions, please contact me.</p>
    <div class="action centre">
        <a class="button1" href="mailto:hello@jasoncook.ca">Contact</a>
    </div>
</div>