---
title: Tectic
subtitle: Integration Consultant
ignoreDefaultTitle: true
hideTitle: true
---
<div class="home">
  <div class="centre-vertical">
    <div class="title centre">
      <img src="/img/headshot-512.webp" height="320" width="320" class="profile" alt="Headshot">
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
    </div>
    <p>For over a decade, we have worked with with small and medium sized businesses to integrate technology into their workflow. From alarm and access control systems to video production to software integration, we make technology work for you. </p>
    <div class="action centre"> {% for link in links.Personal %} <a class="button1" href="{{link.Url}}">{{ link.Title }}</a> {% endfor %} </div>
  </div>
</div>
