---
layout: layout.liquid
---

<div class="centre-vertical">
    <div class="title centre">
        <img src="/assets/headshot-512.webp" height="320" width="320" class="profile" alt="Headshot">
        <h1>Tectic</h1>
        <h2>Jason Cook</h2>
    </div>
    <p>Whether you are a small, one person shop or a large business, Tectic works closely with you to find the solutions best suited to your needs and budget. Our services include email, networking, access control, computer maintence, audio video and lighting systems, and much more. If you'd like to work with us or have any questions, please reach out.</p>
    <div class="action centre">
        <a class="button1" href="mailto:{{ metadata.mail }}">Contact</a>
    </div>
</div>