---
title: Jason Cook
subtitle: Information Technology
ignoreDefaultTitle: true
hideTitle: true
---
<div class="home">
  <div class="centre-vertical">
    <div class="title centre">
      <img src="/img/headshot-512.webp" height="320" width="320" class="profile" alt="Headshot">
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
    </div>
    <p>For the past eight years, I have worked as an AV/IT Technician in a small business environment. It has been my responsibility to configure and maintain all sorts of technology from phone systems to servers to SaaS applications. Additionally, I also provide remote and in-person support to users, while managing a small team. This wide array of tasks has required me to be able to pick up on new skills fairly quickly.</p>
    <div class="action centre"> {% for link in links.Personal %} <a class="button1" href="{{link.Url}}">{{ link.Title }}</a> {% endfor %} </div>
  </div>
</div>
