---
layout: layout.liquid
title: Clock
---

<!-- <div class="centre-vertical"> -->
<div id="clock">
    <div id="time">
        <span id="hour" class="info"></span>
        <span id="hourSeparator" class="separator"></span>
        <span id="minute" class="info"></span>
        <span id="minuteSeparator" class="separator"></span>
        <span id="second" class="info"></span>
        <span id="session" class="info"></span>
    </div>
    <div id="date">January 1, 1970</div>
</div>
<!-- </span> -->