body {
    font-family: sans-serif;
    /* height: 98vh; */
    max-width: 25%;
    min-width: 50vh;
    margin: auto;
    background-color: white;
    background-image: radial-gradient(rgb(189, 189, 189) 1px, white 1px);
    background-size: 20px 20px;
    font-weight: 100;
}

div.centre-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10% 0;
    min-height: 200px;
}

div.title>h2 {
    font-weight: 100;
    font-size: large;
}

div.title>h1,
div.title>h2 {
    margin: 0;
}

img.profile {
    width: 20em;
    vertical-align: middle;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2em;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #ffffff;
    background-color: #000000;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}